numpy==1.26.4
fire==0.5.0
pydantic==2.0
torch==2.1.2
tqdm==4.65.0
sentencepiece==0.1.97
datasets==2.10.1
bitsandbytes==0.41.1
accelerate==0.27.2
editdistance==0.6.2
tiktoken==0.6.0
openai==0.27.7
transformers==4.39.1
nltk==3.8.1
scikit-learn==1.2.2
evaluate==0.4.0
bert_score==0.3.13
rouge_score==0.1.2
protobuf==4.24.2
einops==0.6.1
transformers_stream_generator==0.0.4
ninja==1.11.1
vllm==0.4.0.post1